<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.be_healthy_license_2014141300.be_healthy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/empty_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.OptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DiseaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AlarmActivity"
            android:screenOrientation="portrait"
            android:label="" />
        <activity
            android:name="be_healthy_license_2014141300.be_healthy.activity.EducationActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name="be_healthy_license_2014141300.be_healthy.activity.StartActivityJava"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="be_healthy_license_2014141300.be_healthy.listener.NotificationReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>

        <activity
            android:name="be_healthy_license_2014141300.be_healthy.activity.MenuActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="be_healthy_license_2014141300.be_healthy.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="be_healthy_license_2014141300.be_healthy.activity.IMBActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="be_healthy_license_2014141300.be_healthy.activity.TrainActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="be_healthy_license_2014141300.be_healthy.activity.Train2Activity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="be_healthy_license_2014141300.be_healthy.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="be_healthy_license_2014141300.be_healthy.activity.DiseaseSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>